/******************************************
-------------------------------------------
 			    All Pages 
-------------------------------------------
*******************************************/

body {
	background:#f2f2f2;
	font-family: 'bitter', serif;
}

h1, h2, h3, h4, h5 {
	font-weight:bold;
	line-height:1.1em;
	cursor:pointer;
}

h3 {
	font-size:3em;
	margin:1px 0 5px 0;
	text-transform:uppercase;
}

h3:hover {
	text-decoration:underline;
}

h5 {
	margin:2px 0;
	font-size:2em;
}

h5:hover {
	text-decoration:underline;
}

div {
	box-sizing:border-box;
}

/* bootstrap alterations */

.row.some-gutters {
  margin-right: 3px;
  margin-left: 3px;
}
.row.some-gutters > [class^="col-"],
.row.some-gutters > [class*=" col-"] {
  padding-right: 3px;
  padding-left: 3px;
}

#loading-div {
	position:fixed;
	top:0;
	left:0;
	background:#f2f2f2;
	height:100%;
	width:100%;
	z-index:9998;
	text-align:center;
}

#loading-svg {
	height:150px;
	width:150px;
	margin-top:175px;
}

/******************************************
-------------------------------------------
 			   Flaticons 
-------------------------------------------
*******************************************/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-arrow:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-arrows-2:before { content: "\f103"; }
.flaticon-arrows-3:before { content: "\f104"; }
.flaticon-buildings:before { content: "\f105"; }
.flaticon-compact-disc:before { content: "\f106"; }
.flaticon-disabled:before { content: "\f107"; }
.flaticon-location:before { content: "\f108"; }
.flaticon-map:before { content: "\f109"; }
.flaticon-map-marker:before { content: "\f10a"; }
.flaticon-music:before { content: "\f10b"; }
.flaticon-orientation:before { content: "\f10c"; }
.flaticon-round-info-button:before { content: "\f10d"; }
.flaticon-search:before { content: "\f10e"; }
.flaticon-sound-frequency:before { content: "\f10f"; }
.flaticon-speaker:before { content: "\f110"; }
.flaticon-speaker-1:before { content: "\f111"; }
.flaticon-transport:before { content: "\f112"; }
.flaticon-twitter-black-shape:before { content: "\f113"; }

/******************************************
-------------------------------------------
 			   Main Header 
-------------------------------------------
*******************************************/

#banner {
	border-top:2px solid rgba(0, 0, 0, 0.1);
	text-align:center;
	padding:5px 0;
	position:relative;
	z-index:9999;
}

#banner-tagline {
	font-size:.9em;
	color:rgba(0, 0, 0, 0.8);
}

#banner-name {
	font-size:4em;
	letter-spacing:5px;
	font-weight:bold;
	margin:-30px 0 -17px 0;
}

#banner-name span {
	font-size:1.5em;
}

#banner-options {
	height:40px;
	border-bottom:2px solid rgba(0, 0, 0, 0.1);
	border-top:2px solid rgba(0, 0, 0, 0.1);
	background:white;
	text-align:center;
	position:relative;
	z-index:9999;
}

#banner-options-container {
	height:100%;
	width:100%;
	transition:all 600ms ease-out;
	position:absolute;
	top:0;
}

.hidden-options-container {
	top:-45px !important;
}

.banner-option {	
	margin:0 10px;
	height:100%;
	display:inline-block;
	position:relative;
}

.banner-option > p {
	font-size:.9em;
	letter-spacing:1px;
	color:rgba(0, 0, 0, 0.7);
	display:inline-block;
	margin:0;
	vertical-align:middle;
}

.banner-input-div {
	height:100%;
	font-size:1.3em;
	border-left:2px solid rgba(0, 0, 0, 0.1);
	border-right:2px solid rgba(0, 0, 0, 0.1);
	display:inline-block;
	width:165px;
	text-align:left;
	padding:0 10px 0 10px;
	border-top:none;
	border-bottom:none;
	margin:0 5px;
	vertical-align:middle;
	line-height:normal;
}

@media all and (max-width:700px) {
	#banner-name {
		font-size:3em;
		margin:-20px 0 -10px 0;
	}
}

@media all and (max-width:500px) {
	#banner-name {
		font-size:2em;
		margin:-15px 0 -8px 0;
	}

	#banner-tagline {
		font-size:.6em;
	}
}

/* dropdowns/genre/sort/radius */

.banner-dropdown {
	cursor:pointer;
	line-height:35px;
}

.dropdown-arrow {
	float:right;
	font-size:.8em;
	color:rgba(0, 0, 0, 0.5);
	transition:all 150ms ease-out;
}

.active-dropdown-arrow {
	transform:rotate(90deg);
}

.banner-dropdown-menu {
	min-width:60%;
	background:white;
	position:absolute;
	right:0;
	text-align:left;
	list-style:none;
	padding:0;
	margin-top:-50px;
	transition:all 250ms ease-out;
	font-size:1.1em;
	z-index:1;
	opacity:0;
	visibility:hidden;
	border-left:2px solid rgba(0, 0, 0, 0.1);
	border-right:2px solid rgba(0, 0, 0, 0.1);
	border-bottom:2px solid rgba(0, 0, 0, 0.1);
}

.active-dropdown-menu {
	opacity:1;
	margin-top:2px;
	visibility:visible;
	height:auto !important;
}

.banner-dropdown-menu li {
	cursor:pointer;
	position:relative;
	height:40px;
	line-height:40px;
	padding:0 15px 0 40px;
	color:rgba(0, 0, 0, 0.5);
	transition: all 250ms ease-out;
}

.banner-dropdown-menu li:hover {
	color:black;
}

.active-dropdown-li {
	color:black !important;
}

.dropdown-select-icon {
	position:absolute;
	left:10px;
	top:0px;
	font-size:1.4em;
}

#filter-collapse-text {
	font-size:1.8em;
	line-height:normal;
	display:none;
	margin:0;
	letter-spacing:2px;
	color:rgba(0, 0, 0, 0.6);
	cursor:pointer;
	line-height:1.5em;
}

.event-filter-arrow {
	float:none;
	display:inline-block;
	font-size:.7em;
}

@media all and (max-width:1300px) {
	.banner-option {
		margin:0 5px;
	}
	.banner-input-div {
		width:150px;
		font-size:1.2em;
	}
}

/* full event filter collapse */
@media all and (max-width:1000px) {
	#filter-collapse-text {
		display:block;
	}
	#banner-options-container {
		border-top:2px solid rgba(0, 0, 0, 0.1);
		background:white;
		padding:0;
		position:absolute;
		top:40px;
		left:0;
		width:100%;
		opacity:0;
		visibility:hidden;
		height:0;
		transition:all 250ms ease-out;
		margin-top:-50px;
		z-index:1;
	}
	.active-options-container {
		opacity:1 !important;
		visibility:visible !important;
		height:auto !important;
		margin:-4px !important;
	}
	.banner-option {
		height:auto;
		display:block;
		margin:0;
	}
	.banner-option:nth-child(2n+1) {
		background:#eaf6fb;
	}
	.banner-option p {
		display:block;
		text-align:left;
		padding:10px 0 10px 15px;
		position:static;
	}
	.banner-input-div {
		height:auto;
		width:100%;
		display:block;
		margin:0;
		border-top:2px solid rgba(0, 0, 0, 0.1);
		border-bottom:2px solid rgba(0, 0, 0, 0.1);
		border-left:none;
		border-right:none;
		padding:0 15px;
	}
	.banner-dropdown-menu {
		width:100%;
		position:static;
		margin:0;
		height:0;
	}
	#user-location {
		height:40px;
	}
}

/******************************************
-------------------------------------------
 		    Main Column - Home
-------------------------------------------
*******************************************/

/* 

- ocean blue #2891bd
	
*/

#event-container {
	
}

#main-column {
	position:relative;
	padding-bottom:100px;
}

.show-more {
	position:absolute;
	bottom:0;
	left:0;
	height:350px;
	width:100%;
	background:transparent;
	background:linear-gradient(transparent, #f2f2f2, #f2f2f2);
	text-align:center;
	cursor:pointer;
}

.show-more:hover p {
	letter-spacing:8px;
	color:rgba(0, 0, 0, 0.6);
}

.show-more-text {
	position:absolute;
	bottom:10px;
	left:0;
	color:rgba(0, 0, 0, 0.4);
	font-size:2.5em;
	letter-spacing:4px;
	width:100%;
	z-index:5;
	transition:all 250ms ease-out;
}

.show-more-loading {
	position:absolute;
	height:100px;
	width:100px;
	left:50%;
	bottom:10px;
	margin-left:-50px;
	z-index:1;
	display:none;
}

/* shared classes across event divs */

.event-pic {
	height:100%;
	width:100%;
	object-fit:cover;
}

.event-div-all {
	margin:5px 0;
	background:white;
	border:3px solid #e6e6e6;
	overflow:hidden;
}

.event-div-all p {
	margin:12px 0;
	line-height:1.4em;
	color:rgba(0, 0, 0, 0.7);
	font-size:.9em;
}

.event-info {
	padding:5px 5px 0 5px;
}

.event-link {
	color:black;
	font-size:1.3em;
	font-style:normal;
	cursor:pointer;
}

.event-link:hover {
	color:#2891bd;
	text-decoration:underline;
}

.theme-button {
	display:block;
	color:black;
	padding:1px 0 2px 0;
	text-transform:uppercase;
	letter-spacing:2px;
	font-family: 'bitter', serif;
	font-weight:bold;
	border-top:2px solid black;
	border-bottom:2px solid black;
	text-align:center;
	cursor:pointer;
	transition: all 250ms ease-out;
}

.theme-button:hover {
	color:white;
	background:#2891bd;
	border-top:2px solid #2891bd;
	border-bottom:2px solid #2891bd;
	text-decoration:none;
	border-left:none;
}

.full-button {
	width:100%;
}

/* main event div */

.main-event-div {
	background:white;
	margin:5px 0 0 0;
	position:relative;
	width:100%;
	height:650px;
}

.main-event-div p {
	font-size:1.2em;
	max-width:80%;
}

.main-pic-holder {
	height:450px;
	width:100%;
	overflow:hidden;
	position:relative;
}

.main-event-id {
	display:none;
}

.main-event-date {
	font-size:1.3em !important;
	letter-spacing:2px;
	font-style:italic;
}

.main-event-name {
	max-height:100px;
	overflow:hidden;
}

#main-event-arrows {
	position:absolute;
	bottom:5px;
	right:10px;
	font-size:3.5em;
	cursor:pointer;
	color:rgba(0, 0, 0, 0.7);
	z-index:100;
}

.main-arrows {
	display:inline-block;
	opacity:.7;
}

.main-arrows:hover {
	color:black;
}

#left-main-arrow {
	margin-right:-10px;
}

.current-carousel-event {
	padding:5px;
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	opacity:0;
	transition:all 750ms ease-out;
}

.active-current-carousel-event {
	opacity:1;
}

@media all and (max-width:700px) {
	.main-event-div {
		height:550px;
	}
	.main-pic-holder {
		height:350px;
	}
	.main-event-name {
		font-size:2.5em;
	}
}

@media all and (max-width:500px) {
	.main-event-div {
		height:425px;
	}
	.main-pic-holder {
		height:225px;
	}
	.main-event-name {
		font-size:2em;
	}
	#main-event-arrows {
		font-size:3em;
	}
	.main-event-div p {
		font-size:.9em;
	}
	.main-event-date {
		font-size:.9em !important;
	}
}

/* sub event (under main event) */

.sub-side-event {
	opacity:0;
	transition:all 300ms ease-out;
}

#sub-event-row {
	margin:0;
}

#left-sub-column {
	padding-left:0;
}

#right-sub-column {
	padding-right:0;
}

.sub-pic-holder {
	height:250px;
	width:100%;
	overflow:hidden;
	position:relative;
}

.sub-event-date {
	font-size:1.1em !important;
	letter-spacing:2px;
	font-style:italic;
}

/* side event (next to main/sub events) */

.side-pic-holder {
	height:175px;
	width:100%;
	overflow:hidden;
	position:relative;
}

/******************************************
-------------------------------------------
 			Side Column - Home
-------------------------------------------
*******************************************/

#side-column {
	border-left:1px solid rgba(0, 0, 0, 0.3);
}

/******************************************
-------------------------------------------
 		   Show Page - Banner 
-------------------------------------------
*******************************************/

.show-banner-container {
	position:absolute;
	height:100%;
	width:100%;
	top:45px;
	left:0;
	z-index:101;
	background:white;
	transition:all 600ms ease-out;
}

.active-show-banner-container {
	top:0;
}

.show-banner-container p {
	font-size:1.7em;
	font-weight:bold;
	margin-top:0;
	margin-bottom:0;
	display:inline-block;
}

.show-banner-flaticon {
	margin-right:10px;
}

#back-to-home {
	position:absolute;
	left:25px;
	top:0;
	height:40px;
	font-size:1em;
	line-height:2.5em;
	display:inline-block;
	cursor:pointer;
}

#back-to-home:hover .back-to-home-icon {
	right:7px;
	color:#2891bd;
}

.back-to-home-icon {
	font-size:2em !important;
	margin-right:5px;
	vertical-align:middle;
	position:relative;
	right:0;
	transition:all 300ms ease-out;
}

/******************************************
-------------------------------------------
 		 Show Page - Events/Columns 
-------------------------------------------
*******************************************/

.show-column-header {
	width:100%;
	padding:5px 10px;
	height:35px;
	font-size:1.2em;
	background:white;
	margin-top:5px;
	border:1px solid rgba(0, 0, 0, 0.1);
	border-bottom:none;
}

.show-column-header p {
	font-weight:bold;
	letter-spacing:3px;
	display:inline-block;
	margin:0;
}

.show-column-header span {
	float:right;
}

#show-container {
	display:none;
}

.artist-venue-event {
	width:100%;
	border:1px solid rgba(0, 0, 0, 0.1);
	border-bottom:none;
	background:white;
	font-size:.9em;
	overflow:hidden;
	position:relative;
}

.artist-venue-event p {
	margin:6px 0;
	color:rgba(0, 0, 0, 0.7);
	font-size:1em;
}

.artist-venue-event:first-child {
	margin-top:0;
}

.show-event-pic-holder {
	padding:5px 0 5px 5px;
	height:135px;
	width:135px;
	margin-right:5px;
	overflow:hidden;
	position:relative;
	display:inline-block;
	vertical-align:top;
	float:left;
}

.show-event-info {
	display:table-cell;
	padding:5px 0;
}

.show-tickets-normal {
	display:none;
}

.show-tickets-absolute {
	position:absolute;
	right:0;
	bottom:0;
	border-bottom:none;
	border-left:2px solid black;
	border-radius:2px 0 0 0;
	font-size:.9em;
	padding:2px 5px;
}

@media all and (max-width:1000px) {
	#back-to-home {
		display:none;
	}
}

@media all and (max-width:800px) {
	.artist-venue-event {
		font-size:1em;
		margin:5px 0;
	}
	.show-event-pic-holder {
		height:150px;
		width:150px;
	}
	.show-tickets-div ul {
		margin-top:5px;
	}
}

@media all and (max-width:600px) {
	.show-event-pic-holder {
		padding:5px 5px 0 5px;
		width:100%;
		float:none;
		display:block;
	}
	.show-event-info {
		padding:0 5px;
		display:block;
	}
	.show-tickets-normal {
		display:block;
	}
	.show-tickets-absolute {
		display:none;
	}
}

/******************************************
-------------------------------------------
 		 Show Page - Venue Info 
-------------------------------------------
*******************************************/

.venue-div {
	border:1px solid rgba(0, 0, 0, 0.1);
	border-bottom:none;
	background:white;
}

.venue-info-div {
	padding:10px 5px;
	margin:0 5px;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.venue-info-div div {
	display:table-cell;
	color:rgba(0, 0, 0, 0.7);
	font-size:.9em;
}

.venue-info-div a {
	color:#2891bd;
	font-size:1.1em;
}

.venu-info-div a:hover {
	text-decoration:underline;
}

.venue-info-div:first-child div {
	font-weight:bold;
	font-size:1.2em;
}

.venue-info-icon {
	float:left;
	margin-right:10px;
	font-size:1.6em;
	position:relative;
	bottom:5px;
}

/******************************************
-------------------------------------------
 		 Show Page - Tweets 
-------------------------------------------
*******************************************/

.tweet-div {
	padding:7px 10px;
	background:white;
	border:1px solid rgba(0, 0, 0, 0.1);
	border-bottom:none;
	opacity:0;
	transition:all 300ms ease-out;
}

.tweet-div:last-child {
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.tweet-div a {
	color:#2891bd;
}

.tweet-user-pic {
	height:48px;
	width:48px;
	float:left;
	margin-right:10px;
	border-radius:2px;
}

.tweet-main-column {
	display:table-cell;
	vertical-align:top;
}

.tweet-info span {
	color:rgba(0, 0, 0, 0.5);
	font-size:.9em;
}

.tweet-info span:first-child {
	color:black;
	font-weight:bold;
	font-size:1.1em;
}

.tweet-pic {
	width:100%;
	margin-top:7px;
	border-radius:2px;
}

/******************************************
-------------------------------------------
 				Footer 
-------------------------------------------
*******************************************/

#footer {
	padding:50px 0;
}

#footer-border {
	text-align:center;
	position:relative;
	margin-bottom:-20px;
}

#footer-icon {
	color:rgba(0, 0, 0, 0.3);
	font-size:3.5em;
}

#footer-border::before {
	content: "";
	width:47%;
	height:2px;
	background:rgba(0, 0, 0, 0.2);
	position:absolute;
	left:0;
	top:47%;
	display:block;
}

#footer-border::after {
	content: "";
	width:47%;
	height:2px;
	background:rgba(0, 0, 0, 0.2);
	position:absolute;
	right:0;
	top:47%;
	display:block;
}

.footer-div {
	display:inline-block;
	padding:0 10px;
	position:relative;
	z-index:1;
}

.footer-div span {
	color:rgba(0, 0, 0, 0.4);
}

.footer-div a {
	color:#2891bd;
}

#left-footer {
	float:left;
}

#right-footer {
	float:right;
}

@media all and (max-width:1000px) {
	#footer-border::before {
		width:43%;
	}

	#footer-border::after {
		width:43%;
	}
}

@media all and (max-width:700px) {
	#footer-border {
		margin-bottom:-10px;
	}
	#footer-border::before {
		width:40%;
	}

	#footer-border::after {
		width:40%;
	}

	.footer-div {
		font-size:.9em;
	}
}